<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>patato head.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>320192B61BEBA47400AA5151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>320192CA1BEBA47400AA5151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>320192D51BEBA47400AA5151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
